<div class="row text-center">
  <h1>Consulte ton trigramme</h1>

  <br><br>

  <h3>Tu penses t'être fait racketter par le BB ?</h3>
  <h3>Tu ne te souviens pas de ce que tu as bu hier ?</h3>
  <h3>Tu veux savoir combien coûtait le Kebab de l'autre soir ?</h3>

  <br><br>

  <h1>N'attend plus !</h1>

  <br><br>

  <a href="/fkz_login" class="btn btn-primary btn-lg">Connection Frankiz</a>
</div>

