<div class="row text-center">
  <div class="col-md-12">
    <h1>Consulte ton trigramme</h1>

    <br>

    <h3 class="cycle" style="min-height: 2.5em;">
      <span id="slogan-0">Peur de la prochaine positivation ?</span>
      <span id="slogan-1">Aucun souvenir de ce que tu as bu hier ?</span>
      <span id="slogan-2">Tu penses t'être fait arnaquer par le BB ?</span>
      <span id="slogan-3">Tu veux savoir combien coûtait le Kebab de l'autre soir ?</span>
    </h3>

    <br>

    <h1>N'attends plus !</h1>

    <br>

    <a href="/fkz_login" class="btn btn-primary btn-lg">Connection Frankiz</a>
  </div>
</div>

