<div class="row text-center">
  <div class="col-md-12">
    <h4>
      La demande a bien été prise en compte, merci.
    </h4>
    <span>
      <a href="/">Clique ici</a> pour retourner voir ton solde
    </span>
  </div>
</div>
