<div class="row text-center">
  <h1>Déso, on ne trouve pas ton trigramme.</h1>

  <h3>Si tu penses que c'est une erreur, clique <a href="/logout">ici</a> pour réessayer de te connecter, sinon, va te plaindre au BôB.</h3>
</div>
