<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag "pinte.png" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a><big>Consultation des trigrammes, powered by BôBar, Manou, Gengen et Frankiz</big></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Signaler un bug<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" style="min-width: 450px;">
            <div class="col-md-12">
              <br>
              <p>Merci d'expliquer le problème le plus clairement possible, et laisser votre nom / prénom pour espérer une réponse.</p>
              <%= bootstrap_form_tag(url: "/issue", method: :post) do |f| %>
                <%= f.text_area(:body, hide_label: true, rows: 4) %>
                <%= f.primary 'Envoyer' %>
              <% end %>
              <br>
            </div>
          </ul>
        </li>
        <% if session.key?(:frankiz_id) %>
          <li><a href="/logout">Se déconnecter</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
